# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright 2001 Denis Papp
# SPDX-FileCopyrightText: Copyright 2026 Dan Langford <721364+danlangford@users.noreply.github.com>

/target/
.idea/
.DS_Store
*.iml
*.profraw
flamegraph.svg
/parity-artifacts/
